@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap");
.App {
  overflow-x: hidden;
}

#dn {
  display: none;
}

.dn {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

#card__animation {
  -webkit-animation: mobileMenuAnimation 1s;
          animation: mobileMenuAnimation 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#trigger::before {
  opacity: 0;
  -webkit-animation: trigger 3s;
          animation: trigger 3s;
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  right: 0.5rem;
  top: 50%;
}

.trigger::before {
  opacity: 0;
  -webkit-animation: trigger2 3s;
          animation: trigger2 3s;
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  right: 0.5rem;
  top: 50%;
}

.ml2 {
  margin-left: 2.5rem;
}

.mr2 {
  margin-right: 2.5rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Exa", sans-serif;
  background-color: #e3efed;
}

.hero__mobile__menu {
  opacity: 0;
  -webkit-animation: mobileMenuAnimation 2s;
          animation: mobileMenuAnimation 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  left: 0;
  width: 100vw;
  bottom: 0;
  height: 7.55rem;
  background-color: #e3efed;
  z-index: 2;
  border-top: 1px solid #4f4f4f;
}

.hero__mobile__menu .active {
  position: relative;
}

.hero__mobile__menu .active[type="explore"]::before {
  left: -1.5rem;
}

.hero__mobile__menu .active[type="contact"]::before {
  left: -1.5rem;
  width: 150%;
}

.hero__mobile__menu .active::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 160%;
  background: black;
  top: -1.8rem;
  left: -1rem;
}

@media screen and (max-width: 370px) {
  .hero__mobile__menu .active::before {
    top: -1.6rem;
  }
}

@media screen and (max-width: 325px) {
  .hero__mobile__menu .active::before {
    top: -1.4rem;
  }
}

.hero__mobile__menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .hero__mobile__menu a:nth-of-type(4) {
    margin-left: 1rem;
  }
}

.hero__mobile__menu a span[type="quantity"] {
  position: absolute;
  right: -1rem;
  top: -80%;
  font-size: 1.5rem;
  opacity: 0.5;
}

.hero__mobile__menu a div {
  text-align: center;
}

.hero__mobile__menu a:nth-of-type(1) {
  padding-left: 1.5rem;
}

.hero__mobile__menu a:nth-of-type(5) {
  padding-right: 1.5rem;
}

.hero__mobile__menu a:nth-of-type(3) {
  position: relative;
}

.hero__mobile__menu a:nth-of-type(3) img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero__mobile__menu a:nth-of-type(3)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #e7d400;
  border-radius: 50%;
  top: -70%;
  left: -70%;
  height: 250%;
  aspect-ratio: 1;
  z-index: -1;
}

.hero__upper {
  background-image: url(./Assets/mobile/Mobile_hero_background.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 4.5rem;
}

.hero__upper a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.hero__upper a:hover, .hero__upper a:active, .hero__upper a:focus {
  -webkit-animation: clipPath 1s ease;
          animation: clipPath 1s ease;
}

.hero__upper button {
  -webkit-animation: loading2 2s;
          animation: loading2 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(-20rem);
          transform: translateX(-20rem);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  margin-top: 4rem;
  padding: 1rem 3rem 1rem 3rem;
  border: none;
  background-color: #e7d400;
  border-radius: 1rem;
  font-weight: 300;
  font-family: inherit;
  font-size: 2rem;
  color: #3d3d3d;
}

.hero__upper__text {
  opacity: 0;
  -webkit-animation: opacity 2s;
          animation: opacity 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
  font-size: 3.65rem;
  width: 86%;
  margin-inline: auto;
  font-weight: 500;
}

.hero__upper__text::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 95vw;
  margin-left: 0;
  background: #e7d400;
  opacity: 5%;
  top: 27%;
  left: -1.75rem;
}

.hero__menu {
  background-image: url(./Assets/menu_background.svg);
  background-position: -5rem;
  background-size: cover;
  width: 100%;
}

.hero__menu__logo {
  opacity: 0;
  display: inline-block;
  padding-top: 1.5rem;
  -webkit-animation: loading3 2s;
          animation: loading3 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.hero__lower {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.hero__lower__text {
  text-align: center;
  font-weight: 400;
  font-size: 2.8rem;
  color: #4f4f4f;
  line-height: 3.8rem;
}

.hero__lower ul {
  width: 85%;
  margin-inline: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__lower ul div[type="animation"] {
  opacity: 0;
}

.hero__lower ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 200;
  font-size: 2.8rem;
  margin-top: 6rem;
}

.hero__lower ul li div {
  position: relative;
}

.hero__lower ul li div::after {
  content: "";
  text-align: center;
  display: block;
  position: absolute;
  background-color: #ffffff;
  aspect-ratio: 1;
  height: 251%;
  border-radius: 50%;
  z-index: -1;
  top: -74%;
  left: 20%;
}

.hero__lower ul li div[num="1"]:after {
  left: 0%;
}

.hero__lower ul li span {
  margin-top: 4rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.details__container__content__text {
  color: #5e905d;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 4rem;
}

@media screen and (max-width: 330px) {
  .details__container__content__text {
    margin-bottom: 2rem;
    margin-top: -3.5rem;
  }
}

.details__container__content__image {
  margin-top: -17rem;
  position: relative;
}

.details__container__content__image::before {
  content: "Our own garden";
  color: #ffffff;
  font-size: 1.8rem;
  top: 72%;
  left: 20%;
  position: absolute;
}

.details__container__content__image img {
  margin-inline: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 756px) {
  .details__container__content__image img {
    width: 95%;
  }
}

.details__container__content__paragraph {
  margin-top: -10rem;
  margin-bottom: 3rem;
  line-height: 3.5rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.health__container {
  background-color: #6f6a66;
  height: 100vh;
  color: #ffffff;
}

.health__container__content {
  height: 100%;
  background-image: url(./Assets/mobile/Mobile_health_benifits.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.health__container__content__text {
  padding-top: 5rem;
  padding-bottom: 3rem;
  opacity: 0.6;
  font-size: 3.5rem;
}

@media screen and (max-width: 382px) {
  .health__container__content__text {
    font-size: 3rem;
  }
}

.health__container__content__health {
  opacity: 0;
  margin-left: 3rem;
  height: 70%;
}

.health__container__content__health img {
  height: 100%;
}

.shop__container {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  position: relative;
}

.shop__container::before, .shop__container::after {
  content: "";
  display: block;
  width: 100vw;
  height: 1rem;
  background-color: white;
  position: absolute;
}

.shop__container::before {
  top: 0;
}

.shop__container::after {
  bottom: 0;
}

.shop__container__content {
  margin-bottom: 6rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='20%2c 20' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.shop__container__content:hover, .shop__container__content:active, .shop__container__content:focus {
  -webkit-box-shadow: 0rem 0rem 15rem -5.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0rem 15rem -5.5rem rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.shop__container__content__card__container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__container__content__card__container__card__image img {
  width: 100%;
}

.shop__container__content__card__container__card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.shop__container__content__card__container__card__details span {
  font-size: 3rem;
  font-weight: 400;
}

.shop__container__content__card__container__card__details span li {
  list-style: none;
  display: inline-block;
  color: black;
  opacity: 0.6;
  position: relative;
}

.shop__container__content__card__container__card__details span li::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  height: 2px;
  background-color: black;
  opacity: 0.9;
}

.shop__container__content__card__container__card__details span:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.shop__container__content__card__container__card__details span:nth-of-type(1) button {
  font-family: inherit;
  text-align: center;
  background-color: #e7d400;
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
}

.shop__container__content__card__container__card__details span:nth-of-type(2) {
  width: 95%;
}

.shop__container__content__card__container__card__details span:nth-of-type(2) h6 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: 400;
  font-size: 1.8rem;
}

.shop__container__content__card__container__card__details span:nth-of-type(2) button {
  margin-bottom: 3rem;
  background-color: #e7d400;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.85rem;
  border: none;
  display: block;
  width: 100%;
  padding: 1.2rem 0 1.2rem 0;
  border-radius: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.shop__container__content__card__container__card__details span:nth-of-type(2) button:hover, .shop__container__content__card__container__card__details span:nth-of-type(2) button:active, .shop__container__content__card__container__card__details span:nth-of-type(2) button:focus {
  -webkit-animation: clipPath 1s ease;
          animation: clipPath 1s ease;
}

.shop__container__content__card__container__card__details span:nth-of-type(2) button:nth-of-type(1) {
  background-color: transparent;
  border: 1.2px solid black;
  margin-bottom: 2rem;
}

.contact__container {
  height: 100vh;
}

.contact__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__content__text {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: #5e905d;
  padding-top: 3rem;
}

@media screen and (max-height: 775px) {
  .contact__content__text {
    padding-bottom: 4rem;
  }
}

.contact__content__form {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  background-image: url(./Assets/mobile/Mobile_contactus.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  margin: 1rem 0 1rem 0;
}

@media screen and (max-height: 775px) {
  .contact__content__form {
    padding-bottom: 4rem;
  }
}

.contact__content__form::before, .contact__content__form::after {
  content: "";
  display: block;
  width: 100vw;
  height: 1rem;
  background-color: black;
  position: absolute;
}

.contact__content__form::before {
  top: -2rem;
}

.contact__content__form::after {
  bottom: -2rem;
}

.contact__content__form__upper li {
  margin-bottom: 3rem;
  list-style: none;
  font-size: 1.8rem;
}

.contact__content__form__upper li:nth-of-type(1) {
  margin-top: 6rem;
}

.contact__content__form__upper li:nth-of-type(3) {
  margin-bottom: 5rem;
}

.contact__content__form__upper li input {
  color: white;
  display: block;
  margin-top: 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  height: 3rem;
  width: 70%;
  outline: none;
  padding: 1rem;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  font-size: 1.8rem;
}

.contact__content__form__upper li input:hover, .contact__content__form__upper li input:active, .contact__content__form__upper li input:focus {
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
}

.contact__content__form__upper button {
  background-color: #e7d400;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.8rem;
  width: 70%;
  border: none;
  padding: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.contact__content__form__upper button:hover, .contact__content__form__upper button:active, .contact__content__form__upper button:focus {
  -webkit-animation: clipPath 1s ease;
          animation: clipPath 1s ease;
}

.contact__content__form__lower__text {
  font-size: 2.5rem;
}

.contact__content__form__lower__email {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
}

.contact__content__form__lower hr {
  width: 20.55rem;
}

.contact__content__form__lower__links {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.footer__container {
  margin-top: 6rem;
  position: relative;
  overflow: hidden;
}

.footer__container::after {
  content: "";
  display: block;
  aspect-ratio: 1;
  height: 200%;
  position: absolute;
  top: 10%;
  left: -120%;
  background-color: #343434;
  z-index: -1;
  border-radius: 50%;
}

.footer__content {
  color: #ffffff;
}

@media screen and (max-height: 658px) {
  .footer__content__upper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-left: -3rem;
  }
}

.footer__content__middle__text {
  font-size: 2.5rem;
}

.footer__content__middle__email {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
}

.footer__content__middle hr {
  width: 20.55rem;
}

.footer__content__middle__links {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.footer__content__lower {
  margin-top: 6rem;
}

.footer__content__lower__text {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.footer__content__lower__text span {
  color: #e7d400;
}

.footer__content__lower li {
  list-style: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.footer__content__lower li input {
  color: white;
  display: block;
  margin-top: 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  height: 3rem;
  width: 70%;
  outline: none;
  padding: 1rem;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  font-size: 1.8rem;
}

.footer__content__lower li input:hover, .footer__content__lower li input:active, .footer__content__lower li input:focus {
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
}

.footer__content__lower button {
  background-color: #e7d400;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.8rem;
  width: 70%;
  border: none;
  padding: 1rem 0 1rem 0;
  border-radius: 1rem;
  margin-bottom: 15rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.footer__content__lower button:hover, .footer__content__lower button:active, .footer__content__lower button:focus {
  -webkit-animation: clipPath 1s ease;
          animation: clipPath 1s ease;
}

#cartShow {
  opacity: 1;
  visibility: visible;
}

.cart__container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  overflow-y: scroll;
  width: 100vw;
  z-index: 1;
  top: 0;
  bottom: 0;
  background-color: #e3efed;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 10rem;
}

.cart__container__empty {
  margin-top: 15rem;
  font-weight: 400;
  opacity: 0.67;
}

.cart__container__close {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 3rem;
  margin-bottom: 1rem;
}

.cart__container__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__container__content {
  margin: 3rem 3rem 1rem 3rem;
}

.cart__container__content__upper {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='2' stroke-dasharray='20%2c 20' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__container__content__upper__image {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  width: 100%;
}

.cart__container__content__upper__image img {
  width: 100%;
}

.cart__container__content__upper__details {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.cart__container__content__upper__details h6 {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: 0.67;
  font-size: 1.2rem;
  font-weight: 400;
}

.cart__container__content__upper__details span {
  font-size: 1.5rem;
  font-weight: 400;
}

.cart__container__content__upper__details span li {
  list-style: none;
  display: inline-block;
  color: black;
  opacity: 0.6;
  position: relative;
}

.cart__container__content__upper__details span li::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  height: 2px;
  background-color: black;
  opacity: 0.9;
}

.cart__container__content__upper__details span:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  width: 100%;
}

.cart__container__content__upper__details span:nth-of-type(1) button {
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  background-color: #e7d400;
  border: none;
  border-radius: 2rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.cart__container__content__upper__details span:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.cart__container__content__upper__details span:nth-of-type(2) h5 {
  display: inline-block;
  font-weight: 300;
  font-size: 1.5rem;
}

.cart__container__content__upper__details span:nth-of-type(2) button {
  border: none;
  border-radius: 50%;
  width: 15%;
  aspect-ratio: 1;
  background-color: #e7d400;
}

.cart__container__content__upper__details span:nth-of-type(2) button:nth-of-type(3) {
  margin-left: 1rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #c76868;
  border: none;
}

.cart__container__content__upper__details span:nth-of-type(2) button:nth-of-type(3) span {
  font-size: 1rem;
}

.cart__container__content__lower {
  margin: 4rem 3rem 1rem 3rem;
}

.cart__container__content__lower span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 0.5rem 0;
}

.cart__container__content__lower span:nth-of-type(3) {
  margin-top: 3rem;
}

.cart__container__content__lower span h6 {
  font-size: 1.5rem;
  font-weight: 400;
}

.cart__container__content__lower span h5 {
  font-size: 1.8rem;
  font-weight: 400;
}

.cart__container__content__lower span button {
  border: none;
  background-color: #e7d400;
  font-family: inherit;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
}

.cart__container__content__lower span button:nth-of-type(1) {
  background-color: transparent;
  border: 1px solid #e7d400;
}

@media screen and (max-width: 370px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 370px) and (max-width: 325px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 370px) and (max-width: 312px) {
  html {
    font-size: 45%;
  }
}

@media screen and (min-width: 550px) and (max-width: 656px) {
  .App {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    margin-inline: auto;
  }
  .hero__upper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -12rem;
  }
  .hero__upper__text {
    width: 75%;
  }
  .hero__upper button,
  .hero__menu__logo,
  .hero__upper__text {
    margin-left: 10rem;
  }
  .hero__lower__text {
    width: 75%;
    margin-inline: auto;
  }
  .contact__container,
  .footer__container {
    width: 100%;
  }
}

@media screen and (min-width: 656px) {
  html {
    font-size: 45%;
  }
}

@media screen and (min-width: 656px) and (min-width: 856px) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 656px) and (min-width: 956px) {
  html {
    font-size: 55.5%;
  }
}

@media screen and (min-width: 656px) and (min-width: 1100px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 656px) {
  .hero__mobile__menu {
    position: fixed;
    top: 0;
    left: 48%;
    width: 50%;
    height: 10rem;
    border: none;
  }
  .hero__mobile__menu a {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .hero__mobile__menu a .active::before {
    top: 6rem;
  }
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10rem;
  }
  .hero__upper {
    -webkit-box-flex: 80%;
        -ms-flex: 80%;
            flex: 80%;
    background-image: url(./Assets/pc/pc_hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 5rem;
    height: 100vh;
    width: 100%;
  }
  .hero__upper a {
    margin-left: 6rem;
  }
  .hero__upper button {
    margin-left: -0.6rem;
    padding: 2rem 8rem 2rem 8rem;
    font-size: 3rem;
    margin-top: 15rem;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
  .hero__upper__text {
    position: relative;
    font-size: 7rem;
    width: 80%;
    margin-inline: 0;
    margin-left: 6rem;
    font-weight: 500;
    margin-top: 5rem;
  }
  .hero__upper__text::before {
    height: 300%;
    width: 50%;
    opacity: 10%;
    top: -150%;
    left: -10rem;
  }
  .hero__lower {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
    margin-top: 6rem;
  }
  .hero__lower__text {
    text-align: start;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  .hero__lower ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 5rem;
  }
  .hero__menu {
    position: fixed;
    top: 0;
    z-index: 1;
    background: #e3efed;
    height: 10rem;
  }
  .hero__menu__logo {
    margin-left: 6rem;
  }
  .details__container {
    height: 110vh;
  }
}

@media screen and (min-width: 656px) and (min-height: 850px) {
  .details__container {
    height: 98vh;
  }
}

@media screen and (min-width: 656px) and (min-height: 900px) {
  .details__container {
    height: 95vh;
  }
}

@media screen and (min-width: 656px) and (min-width: 656px) and (max-width: 1100px) {
  .details__container {
    height: 75vh;
  }
}

@media screen and (min-width: 656px) {
  .details__container__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .details__container__content__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25rem;
    margin-left: 8rem;
    text-align: start;
    margin-top: 8rem;
    font-size: 3.5rem;
    line-height: 5rem;
    width: 100%;
  }
  .details__container__content__image {
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media screen and (min-width: 656px) and (min-width: 1500px) {
  .details__container__content__image {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@media screen and (min-width: 656px) and (max-width: 1100px) and (min-width: 856px) {
  .details__container__content__image {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (min-width: 656px) and (max-width: 856px) and (min-width: 656px) {
  .details__container__content__image {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 656px) {
  .details__container__content__image img {
    background-size: cover;
  }
  .details__container__content__image::before {
    content: "Our own garden";
    color: black;
    opacity: 0.5;
    font-size: 1.5rem;
    bottom: 92%;
    left: 40%;
    position: absolute;
  }
}

@media screen and (min-width: 656px) and (min-width: 756px) {
  .details__container__content__image::before {
    top: 75%;
  }
}

@media screen and (min-width: 656px) and (min-width: 1500px) {
  .details__container__content__image::before {
    top: 72%;
  }
}

@media screen and (min-width: 656px) and (min-width: 656px) and (max-width: 1100px) {
  .details__container__content__image::before {
    top: 80%;
  }
}

@media screen and (min-width: 656px) and (min-width: 656px) and (max-width: 756px) {
  .details__container__content__image::before {
    top: 73%;
  }
}

@media screen and (min-width: 656px) {
  .details__container__content__paragraph {
    color: black;
    margin-top: -15rem;
    margin-bottom: 3rem;
    line-height: 4.5rem;
    font-size: 2.5rem;
    font-weight: 300;
    position: relative;
  }
  .details__container__content__paragraph::after {
    content: "";
    color: black;
    opacity: 0.5;
    font-size: 2rem;
    top: 110%;
    left: 30%;
    position: absolute;
    height: 110%;
    width: 100vw;
    background-image: url(./Assets/icons/Arrow4.svg);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 656px) and (min-width: 656px) and (max-width: 1380px) {
  .details__container__content__paragraph::after {
    top: 90%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (min-width: 656px) and (min-width: 656px) and (max-width: 1380px) and (min-width: 656px) and (max-width: 1240px) {
  .details__container__content__paragraph::after {
    left: 0;
    top: 80%;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media screen and (min-width: 656px) {
  .health__container {
    background-color: #d3cac1;
    height: 110vh;
    color: black;
  }
  .health__container__content {
    height: 100%;
    background-image: url(./Assets/pc/herbal_benifits.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
  }
  .health__container__content__text {
    width: 14ch;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-left: 8rem;
    opacity: 0.6;
    font-size: 7rem;
  }
}

@media screen and (min-width: 656px) and (max-width: 382px) {
  .health__container__content__text {
    font-size: 3rem;
  }
}

@media screen and (min-width: 656px) {
  .health__container__content__health {
    opacity: 0;
    margin-left: 8rem;
    height: 60%;
  }
  .health__container__content__health img {
    height: 100%;
  }
  .shop__container {
    max-width: 100rem;
    margin-inline: auto;
  }
  .cart__container {
    width: 32%;
    right: 0rem;
    margin-top: 10rem;
    border-left: 1px solid black;
  }
  .contact__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
    height: 80vh;
  }
  .contact__content__text {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    text-align: center;
    font-size: 8rem;
    font-weight: 500;
    color: #5e905d;
    padding-top: 5%;
  }
}

@media screen and (min-width: 656px) and (max-height: 775px) {
  .contact__content__text {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 656px) and (max-height: 700px) {
  .contact__content__text {
    padding-top: 14%;
  }
}

@media screen and (min-width: 656px) {
  .contact__content__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    background-image: url(./Assets/pc/contacts.png);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__content__form__upper {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    margin-top: -5rem;
  }
  .contact__content__form__upper li {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    width: 70%;
  }
  .contact__content__form__upper li input {
    width: 100%;
  }
  .contact__content__form__upper button {
    margin-top: -2rem;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .contact__content__form__lower {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
  .footer__container {
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 656px) and (max-height: 740px) {
  .footer__container {
    height: 65vh;
  }
}

@media screen and (min-width: 656px) and (max-height: 700px) {
  .footer__container {
    height: 85vh;
  }
}

@media screen and (min-width: 656px) and (max-height: 600px) {
  .footer__container {
    height: 95vh;
  }
}

@media screen and (min-width: 656px) and (min-height: 900px) {
  .footer__container {
    height: 65vh;
  }
}

@media screen and (min-width: 656px) {
  .footer__container::after {
    content: "";
    display: block;
    aspect-ratio: 1;
    height: 400%;
    position: absolute;
    top: 0%;
    left: -12%;
    background-color: #343434;
    z-index: -1;
    border-radius: 50%;
    display: none;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 2rem;
    color: #ffffff;
    position: relative;
  }
  .footer__content::after {
    content: "";
    display: block;
    aspect-ratio: 1;
    height: 400%;
    position: absolute;
    top: 0%;
    left: -98%;
    background-color: #343434;
    z-index: -1;
    border-radius: 50%;
  }
}

@media screen and (min-width: 656px) and (max-height: 658px) {
  .footer__content__upper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-left: -3rem;
  }
}

@media screen and (min-width: 656px) {
  .footer__content__upper {
    position: absolute;
    top: -10%;
    left: -30%;
  }
  .footer__content__middle__text {
    font-size: 2.5rem;
  }
  .footer__content__middle__email {
    font-size: 1.2rem;
    margin: 2rem 0 1rem 0;
  }
  .footer__content__middle hr {
    width: 20.55rem;
  }
  .footer__content__middle__links {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  .footer__content__lower {
    margin-top: 14rem;
  }
  .footer__content__lower__text {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  .footer__content__lower__text span {
    color: #e7d400;
  }
}

@media screen and (min-width: 656px) and (max-width: 1100px) {
  .hero__mobile__menu {
    width: 65%;
    left: 38%;
  }
  .hero__upper {
    background-position-y: 15rem;
  }
  .hero__lower {
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45%;
  }
}

@media screen and (min-width: 1100px) {
  .hero__upper {
    background-position-y: 15rem;
  }
}

@media screen and (min-width: 656px) and (max-height: 650px) {
  html {
    font-size: 50%;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loading2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes loading2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes loading3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30rem);
            transform: translateX(30rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes loading3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30rem);
            transform: translateX(30rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes mobileMenuAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes mobileMenuAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes trigger {
  0% {
    top: 50%;
    opacity: 0.4;
  }
  25% {
    top: 0;
    opacity: 0.6;
  }
  50% {
    top: 50%;
    opacity: 1;
  }
  75% {
    top: -100%;
    opacity: 1;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes trigger {
  0% {
    top: 50%;
    opacity: 0.4;
  }
  25% {
    top: 0;
    opacity: 0.6;
  }
  50% {
    top: 50%;
    opacity: 1;
  }
  75% {
    top: -100%;
    opacity: 1;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes trigger2 {
  0% {
    top: 50%;
    opacity: 0.4;
  }
  25% {
    top: 0;
    opacity: 0.6;
  }
  50% {
    top: 50%;
    opacity: 1;
  }
  75% {
    top: -100%;
    opacity: 1;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes trigger2 {
  0% {
    top: 50%;
    opacity: 0.4;
  }
  25% {
    top: 0;
    opacity: 0.6;
  }
  50% {
    top: 50%;
    opacity: 1;
  }
  75% {
    top: -100%;
    opacity: 1;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes clipPath {
  0% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
  50% {
    -webkit-clip-path: circle(32%);
            clip-path: circle(32%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}

@keyframes clipPath {
  0% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
  50% {
    -webkit-clip-path: circle(32%);
            clip-path: circle(32%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}
/*# sourceMappingURL=App.css.map */